aioredis==2.0.0
alembic==1.7.4
aniso8601==7.0.0
anyio==3.3.4
asgiref==3.4.1
async-timeout==3.0.1
asyncpg==0.24.0
attrs==21.2.0
autopep8==1.5.7
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.7
click==8.0.3
databases==0.5.3
graphene==2.1.9
graphql-core==2.3.2
graphql-relay==2.0.1
greenlet==1.1.2
gunicorn==20.1.0
h11==0.12.0
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.2
Mako==1.1.5
MarkupSafe==2.0.1
multidict==5.2.0
mutagen==1.45.1
promise==2.3
psycopg2-binary==2.9.1
pycodestyle==2.8.0
pycryptodomex==3.11.0
pydub==0.25.1
python-dotenv==0.19.1
python-multipart==0.0.5
PyYAML==6.0
requests==2.26.0
Rx==1.6.1
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.25
starlette==0.16.0
toml==0.10.2
typing-extensions==3.10.0.2
urllib3==1.26.7
uvicorn==0.15.0
websockets==10.0
yarl==1.7.0
yt-dlp==2021.10.10
